/*/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_self
 */
 @import "bootstrap";

body{
color: #595a5a;
}

.file_name{
  padding: 20px;
}
logo img{
/*  margin: 40px 50px 130px 10px;*/
  width: 110px;
  height: auto;
}
.display img{
  margin: 45px 50px 130px 40px;
  width: 110px;
  height: auto;
}
.heading {
  margin-top: 80px;
  margin-left: 80px;
  margin-bottom: 25px;
  font-size: 12px;
  line-height: 1.4;
}
.file_heading, .client_tag{
  font-weight:bold;
}
.body_text{
  margin-left: 80px;
  width:560px;
  font-size: 14px;
  text-align: justify;
}
.cke_reset{
  width: 560px;
}

footer {
 padding-top: 50px;
 margin-left: 80px;
 font-size: 12px;
 width: 520px;
}

.right-side-text{
 /* -webkit-transform-origin: right top;
 -webkit-transform:rotate(90deg) translateX(100%);*/;
 -webkit-transform: rotate(90deg);
 -webkit-transform-origin: left bottom auto;
 height: 900px;
 margin-top: -50px;
 font-size: 10px;
 position: fixed;
 z-index: -1;
 font-weight: lighter;
}
.page{
 margin-left: 100px;

}

.string {
  width: 200px;
}

#pd_file_body_text{
  width: 21cm;
  height: 27cm;
}
#pd_file_footer_input .form-control{
   width: 21cm;
  height: 100px;
}
form{
  padding-left: 100px;
}
/* ul li {
     display: inline;
 }*/
.brand{
  font-size: 20px;
}
.topbar{
  margin-bottom: 50px;
  background-color:#ccc;
}
#document_file_date_input > span.form-wrapper > div > div.col-xs-4 {
  padding-left: 15px;
}
#document_body_text{
  width: 21cm;
}
.links {
  padding-left: 50px;
}
h1 {
  margin: 20px;
}
#document_submit_action{
  margin: 30px;
}
table {
  margin-left: 100px;
}
td, th {
  padding-left: 20px;
}
.tabs {
  margin:20px;
}

.tabs > ul > li {
margin: 20px;
}

.green {

    position: absolute;
    margin-left:0px;
    width: 0;
    height: 0;
    z-index: -1;
    border-top: 300px solid #dfeae1;
    border-right: 115px solid transparent;
}
 .green_title{
    position: absolute;
    margin-left:0px;
    width: 0;
    height: 0;
    z-index: -1;
    border-top: 1400px solid #dfeae1;
    border-right: 550px solid transparent;

 }
 .title_footer{
  font-size: 9px;
  padding-top: 200px;
 padding-left: 470px;
 }
.title_footer table{
  width: 200px;
  margin: 0;
  border-left: 0.5px solid #595a5a;

}
.title_footer table td{
  padding-left: 10px;
  line-height: 14px;
}


#title.body_text{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
    flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;

}
div.links_to_documents li{
  display: list-item;

}
#document_show_pdf_type_input { display:none; }


