// Place all the styles related to the PDFiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 body {
  background-color:#f6f3f0;
   color: #FFF;
  font-family: 'BrandonGrotesque-Regular', Arial, sans-serif;
}

ul {
  list-style: none;
}

li{
  border-left: 1px solid #595a5a;
  padding-left: 10px;
}
