<logo>
  <%= image_tag "litao_logo.png" %>
</logo>
<heading><h2>INVOICE</h2></heading>

<div class="company_info">
  <div class="row">
    <div class="col-md-3">
      <div class="provider">Service provider:</div>
      <ul>
        <li>LITAO Business Services (Shanghai) LTD.</li>
        <li>SWFC 28F, Century Ave. 100, Shanghai, China</li>
        <li>310000400759395</li>
      </ul>
    </div>
    <div class="col-md-3">
      <div class="receiver"> Consignee:</div>
      <ul>
        <li>LITAO Business Services (Shanghai) LTD.</li>
        <li>SWFC 28F, Century Ave. 100, Shanghai, China</li>
        <li>310000400759395</li>
      </ul>
    </div>
    <dir class="col-md-3">
      <ul>
        <li>No. Limstar-01</li>
        <li>April 19,2016</li>
      </ul>
    </dir>
  </div>
</div>

<table style="text-align:center;">
  <thead>
    <tr>
      <th>No.</th>
      <th colspan="2">Service name</th>
      <th>Quantity</th>
      <th>Unit Price, EUR</th>
      <th>Total Amount, EUR</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="3">Total</td>
      <td></td>
      <td></td>
      <td>3,837</td>
    </tr>
    <tr>
      <td colspan="3">Say:</td>
      <td></td>
      <td></td>
      <td>--</td>
    </tr>
    <tr>
      <td colspan="3">Payment Terms</td>
      <td></td>
      <td></td>
      <td>----</td>
    </tr>
    <tbody>
      <tr>
        <td>1</td>
        <td colspan="2">Business Representation Services</td>
        <td>1</td>
        <td>1279</td>
        <td>1279</td>
      </tr>
      <tr>
        <td>1</td>
        <td colspan="2">Business Representation Services</td>
        <td>1</td>
        <td>1279</td>
        <td>1279</td>
      </tr>
      <tr>
        <td>1</td>
        <td colspan="2">Business Representation Services</td>
        <td>1</td>
        <td>1279</td>
        <td>1279</td>
      </tr>
    </tbody>
  </table>

  <div class="right-side-text" style="  -webkit-transform-origin: right top;
  -webkit-transform:rotate(90deg) translateX(80%);">
  黎涛（上海）商务服务有限公司 Shanghai World Financial Center 28 Floor 上海环球金融中心28层 86-21-20520631 www.litao.lt
</div>
<div class="left-side-text"></div>
<footer>
  <ul>
    <li>Receiver: Litao Business Service (Shanghai) LTD.</li>
    <li>Bank account no: 121916198310301</li>
    <li>Bank name: China Merchant's bank, H.Q. Shenzhen</li>
    <li>Bank address: China Merchant's Bank Tower</li>
    <li>no. 7088 Shennan Boulevard, Shenzhen, China</li>
    <li>SWIFT: CMBCCNBS</li>
  </ul>
</footer>
