
<div class="green_title"></div>
  <logo class="display">
    <%= params.key?('debug') ? image_tag('litao_logo.png') : wicked_pdf_image_tag('litao_logo.png') %>
  </logo>

<div class="body_text">
  <%= @document.body_text.html_safe %>
</div>

<footer class="title_footer">
<table>
  <tr>
  <td>aaa</td>

  <tr>
    <tr>
  <td>bbb</td>

  <tr>
</table>
<footer>

