
<div class="green_title"></div>
  <logo class="display">
    <%= params.key?('debug') ? image_tag('litao_logo.png') : wicked_pdf_image_tag('litao_logo.png') %>
  </logo>

<div id="title" class="body_text">
  <%= @document.body_text.html_safe%>
</div>

<footer class="title_footer">
<table>
  <tr>
  <td>aaaaaaaaaaaa</td>
  </tr>
    <tr>
  <td>
Shanghai World Financial Center 28th Floor
</td>
  </tr>
  <tr>
  <td>aaa</td>
  </tr>
  <tr>
  <td>86-21-20520631</td>
  </tr>
  <tr>
  <td>www.litao.lt</td>
  </tr>

</table>
</footer>

